<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <ion-title>Nueva moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <label for="foto">
      <i class="fas fa-camera fa-10x" id="icon" ></i>
    </label>
    <input id="foto" type="file" name="foto" accept="image/*" capture="camera" />
  </ion-item>

  <ion-item>
    <ion-label>Marca:</ion-label>
    <ion-input [(ngModel)]="marca"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Modelo:</ion-label>
    <ion-input [(ngModel)]="modelo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Año:</ion-label>
    <ion-input [(ngModel)]="ano"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Precio:</ion-label>
    <ion-input [(ngModel)]="precio" type="number"></ion-input>
  </ion-item>


<ion-button (click)="altaMoto()" expand="block" color="success"shape="round">
  Añadir
</ion-button>

<ion-button (click)="volver()" expand="block" color="warning" shape="round">
  Volver
</ion-button>
</ion-content>

