<ion-header>
  <ion-toolbar>
    <ion-title>Detalle moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-header>
    <ion-toolbar>
      <ion-card-subtitle>{{motos.marca}} {{motos.modelo}}</ion-card-subtitle>
      <ion-title>{{motos.marca}} {{motos.modelo}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content>
    <img [src]="motos.foto" />
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque illo ipsam vitae deserunt dolorem qui doloribus, dolor animi provident cum fugiat 
      amet eaque ullam officiis? Provident quibusdam fuga dignissimos, repellat enim necessitatibus reiciendis expedita hic quis ut rerum, mollitia sed
       magni explicabo laborum? Error assumenda dolorem sint tenetur nam non!</p>
       <ion-button (click)="eliminar()" expand="block" color="danger" shape="round">
         Eliminar
       </ion-button>
  </ion-card-content>
</ion-card>
<ion-button (click)="volver()" expand="block" shape="round" color="warning">
  Volver
</ion-button>
</ion-content>
