<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button (click)="abrir()" fill="clear" color="dark">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
      Escoge tu moto
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Escoge tu moto</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-menu side="start"  menuId="first" contentId="main" id="prueba">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="getJson('Ducati')" ><img src="../assets/icon/ducati.jpg">Ducati
        </ion-item>
        <ion-item (click)="getJson('Yamaha')" ><img src="../assets/icon/yamaha.jpg">Yamaha</ion-item>
        <ion-item (click)="getJson('Honda')" ><img src="../assets/icon/honda.jpg">Honda</ion-item>
        <ion-item (click)="getJson('')" >Todos</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="main"></ion-router-outlet>
  <ion-list>
  <ion-item *ngFor="let motos of motos;let i=index"  (click)="fichaTecnica(i)">
    <ion-avatar>
      <img [src]="motos.foto" />
    </ion-avatar>
    <ion-label>
      <h2>{{motos.marca}} {{motos.modelo}}</h2>
    </ion-label>
  </ion-item>
</ion-list>

<ion-fab-button slot="fixed" color="primary" (click)="alta()"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
</ion-content>

<!--
  id: number;
  marca: string;
  modelo: string;
  year: string;
  foto: string;
  precio: string;
  
-->

